@inject IViewCategoriesUseCase _viewCategoriesUseCase
@inject IViewProductsByCategoryIdUseCase _viewProductsByCategoryIdUseCase

<div class="form-group">
    <label for="category">Category</label>
    <select id="category" @bind="CategorySeletedId" class="form-control">
        <option value="0">Select</option>
        @foreach (var cat in Categories)
        {
            <option value="@cat.CategoryId">@cat.Name</option>
        }
    </select>
</div>

@if (Products != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr @onclick="(() => OnSelectProduct(product))"
                    style="@(product.ProductId == seletedProductId ? "background-color:beige; cursor:pointer;" : "cursor:pointer")">
                    
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Quantity
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private int categorySeletedId;
    private int seletedProductId=0;

    [Parameter]
    public EventCallback<Product> OnProductSeleted { get; set; }

    public int CategorySeletedId
    {
        get
        {
            return this.categorySeletedId;
        }
        set
        {
            this.categorySeletedId = value;
            Products = this._viewProductsByCategoryIdUseCase.Execute(this.categorySeletedId);
            this.OnSelectProduct(null);
            StateHasChanged();
        }
    }
    private List<Category> Categories;

    private List<Product> Products;

    protected override void OnInitialized() => LoadCategories();

    void LoadCategories() => this.Categories = _viewCategoriesUseCase.Execute();

    private void OnSelectProduct(Product product)
    {
        OnProductSeleted.InvokeAsync(product);
        
        if (product != null)
            this.seletedProductId = product.ProductId;

    }

}
